.ingredient-btn {
    display: inline-block;
    width: auto;
    /* float: right; */
    margin: 1em;
    border-radius: 1em;
    padding: .5em;
    cursor: pointer;
    font-weight: 5em;
    font-size: 14px;
    font-family: "Geneva";
    background-color: rgb(193, 208, 223);
  }
.ingredient-input{
  padding:10px;
  padding-left: 1em;
  padding-right: 2em;
  font-size: 15px;
  border-color: black;

}